* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  background: url("./purple-background-registration.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding: 3px;
  color:whitesmoke;
}

label {
  font-size: 1.3rem;
  font-weight: 600;
  color: whitesmoke;
}

.container {
  text-align: center;
  width: 33%;
  height: 510px;
  padding-top: 30px;
  margin: -0.5% 15% 0 5%;
  background-color:transparent;  
  border-radius: 15px;
  border: 3px solid white;
}

.box {
  display: flex;
  text-align: center;

}

.title{
  display: flex;
  justify-content: space-around;
}

h3{
  text-align:start;
  color: whitesmoke;
  font-size:30px;
  margin-left:-80px;
}

.f1 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.f2 {
  display: flex;
  padding: 15px;
}

.c {
  display: flex;
  margin-left: 15%;
}

.c1 {
  margin: 6px;
  margin-top: 0;
  display: flex;
}

.display {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 50%;
}

.div1 {
  display: flex;
  font-weight: normal;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 15px;
}

.div1 div {
  padding: 5px;
}

.display h2 {
  margin-left: 18%;
  color:snow;
}

.d {
  margin-bottom: 10px;
  margin-left: 75px;
  width: 63%;
  height:210px;
  border: 3px solid white;
  background-color:transparent;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  padding: 13px;
  font-family: 'Times New Roman', Times, serif;
  font-size:18px;
  font-weight: 900;
  color: whitesmoke;
}

.f1 input {
  background-color:rgba(255, 255, 255, 0.929);
  border-radius: 5px;
  height: 35px;
  padding: 10px;
  outline: none;
  border:none;
}

.f1 input::placeholder {
  font-weight: bold;
  color: rgb(78, 77, 77);
 
}

.in {
  width: 70%;
}

#img {
  background-color:rgba(255, 255, 255, 0.929);
  font-weight: bold;
  color:rgb(78, 77, 77);
}

.submit, .reset{
  background-color:#0d6efd;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  border: 0;
  width: 140px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  margin:15px;
  text-align: center;
  height:40px;
}

.submit:hover {
 transition: all 0.4s ease-in-out;
 transform: scale(1.2);
}

.reset{
  width:86px;
  background-color:#e81227;
  font-size: 1.1rem;
}

.reset:hover {
 transition: all 0.4s ease-in-out;
 transform: scale(1.2);
}

.img {
  width: 100px;
  height: 180px;
  border-radius: 10px;
  align-self: center;
  object-fit: cover;
}
