* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.header {
  display: flex;
  justify-content: space-between;
  background-color: #f7055a;
  width: 100vw;
  margin-top:-23.1rem;
}

.head-title {
  font-family: Lato;
  margin: 1%;
  color: whitesmoke;
  background-color: transparent;
  margin-left: 10%;
}

.head-btn {
  width: 110px;
  height: 2.5rem;
  margin-top: 1.3%;
  background-color:whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10%;
  font-weight: 500;
  font-size: 15px;
  border-radius: 50px;

}
.head-btn:hover{
background-color:rgb(21, 184, 21);
color: whitesmoke;
transition: all 0.4s ease-in-out;
transform: scale(1.2);
}

.card-body {
  text-align: center;
  color: whitesmoke;
  font-size: large;
}

.card-img-top {
  width: 50%;
  border-radius: 50%;
  margin-left: 26%;
  margin-top: 3%;
}
.users-space {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.main {
  border: 3px solid #ffffff;
}
