*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-size: 30px;
    overflow-x: hidden;
    color: black;
    font-family: 'Flamenco', cursive;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../image/b.jpeg);
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.clearfix:after{
    content: " ";
    display: block;
    height:9px;
    clear: both;
    width: 30px;
}
.row{
    margin:0 30px;
}

.main-nav{
    float: right;
    margin-top: 30px;
}

.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    padding: 5px 2px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}
.main-nav li a:hover{
    color: yellow;
    font-weight: 1000;
}
.main-content-header{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.index_h1{
    color:#fff;
    word-spacing: 5px;
    font-size: 140%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: lighter;
}

.login_heading{
    color:#fff;
    margin-left: 620px;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin-top: 25px;

}
.login-content-header{
    width: 1370px;
    border-top: 2px solid #fff;
}

.form1{
    margin-left:500px;
    color:white;
    font-size: 25px;
    height: 20rem;
}
.form1 th{
    color: white;
    font-family: sans-serif;
	font-size: 40px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(250, 248, 248);
}
.field1{
    height: 2.3rem;
    width: 23rem;
    margin-bottom: 1rem;
    background-color: white;
    padding: 1rem;
    outline: none;
    border: none;
}
.field2{
    height: 2rem;
    width: 20rem;
}
.table{
    padding-top: 20px;
    padding-left:30px;
}
.submit{
    width: 120px;
    height: 40px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(151, 136, 136);
    color:white;
    font-size: 1rem;
    background-color: rgb(23, 152, 203);
    cursor: pointer;
   
}
.submit:hover{
    background: #35f35b;
    color:white;
   transition: all 0.3s ease-in-out;
   transform: scale(1.2);
}